{% extends "base_generic.html" %} 

{% load crispy_forms_tags %} 

{% block content %} 

 

  {% if form.errors %} 

    <p>Seu nome de usuário e senha não correspondem. Por favor, tente novamente.</p> 

  {% endif %} 

 

  {% if next %} 

    {% if user.is_authenticated %} 

      <p>Sua conta não tem acesso a esta página. Para prosseguir, 

      por favor faça o login com uma conta que tenha acesso.</p> 

    {% else %} 

      <p>Por favor, faça o login para ver esta página.</p> 

    {% endif %} 

  {% endif %} 

 

  <form method="post" action="{% url 'login' %}"> 

    {% csrf_token %} 
	{{ form|crispy }}


    <input type="submit" value="login" /> 

    <input type="hidden" name="next" value="{{ next }}" /> 

  </form>  

{% endblock %} 